    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>Hi. My name is Volodymyr Shabala. I am a former student of Södertörns högskola where I've studied game programming with C# and Unity and game design for 3 years. Currently I am studying at Changemaker education C++ and Unreal.</p>
                <p>I have a 3 years experience working with C# and Unity and my C++ education begun and July 2018. I am passioned about making games and are determined to make my passion into a full-time job.</p>
                <p>You can view my portfolio down below and read my CV <a href="{{ site.url }}/download/Volodymyr_CV.pdf">here</a> nd cover letter <a href="{{ site.url }}/download/Cover_letter.pdf">here</a></p>
            </div>
        </div>
    </section>